/*aspectos generales: bordes y color de fondo de calculadora*/

body {}

.calculadora {
    border: 1px solid black;
    width: 500px;
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 12px 9px 5px -2px rgba(0, 0, 0, 0.5);
    padding: 0.2rem 1rem;
}


/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/

#textoPantalla {
    width: 445px;
    border: 2px black solid;
    text-align: right;
    position: relative;
    left: 20px;
    padding: 5px 5px;
    background-color: white;
    font-family: "courier new";
    overflow: hidden;
}


/*botones normales: anchura y margen*/

.calculadora [type=button] {
    width: 60px;
    height: 60px;
    background-color: rgba(81, 43, 88, 0.3);
    padding: 0;
    opacity: 1;
}

.calculadora [type=button]:hover {
    width: 58px;
    height: 58px;
    cursor: pointer;
}

.calculadora input.largo:hover {
    width: 148px;
    height: 38px;
}


/*botones especiales*/

.calculadora input.largo {
    width: 150px;
    height: 40px;
}

.cientifica {
    width: 10px;
}

.izq {
    margin-left: 1rem;
}

#unico {
    width: 120px;
}